//VARIABLES
$primary-color: rgb(255, 255, 255);
$secondary-color: #f36642;
$c1:#f36642;
$c2:#79f7bc;
$c3:#e075ee;
$c4:#f34260;
$c5:#e3f15c;
$c6:#e3f15c;
$show-home-image: true;
$home-image: url(../img/portrait.jpg);
$portrait-image: url(../img/portrait.JPG);
$background-opacity: 0.0;





//set text color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}