//VARIABLES
$primary-color: rgb(255, 255, 255);
$secondary-color: #f36642;
$link: rgb(35, 193, 241);
$link-hover:rgb(21, 247, 115);
$black:#3a3a3a;
$grey: #e6e6e6;


$c1:#f8e918;
$c2:#79f7bc;
$c3:#e690f1;
$c4:#f34260;
$c5:#eb6912;
$c6:#6748f0;


$background-opacity: 0.0;





//set text color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return $black;
    }

    @else {
        @return #fff;
    }
}