@import "config";
@import "mixins";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: objektiv-mk1, sans-serif;
  // font-weight: 100;
  font-style: normal;
}



h1,
h2,
h3 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;

  &.lg-heading {
    margin-top:.8em;
    text-transform: initial;
    font-size: 2.5em;
    font-weight: 300;
    color: #1d1d1d;
  }

  &.sm-heading {
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
}

p {
  font-size: 1em;
}
.firstcharacter {
  float: left;
  font-size: 5em;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

a {
  color: $link;
  text-decoration: underline;

  &:hover {
    color: $link-hover;
  }

}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding:1.3em;
  min-height:90vh;
}

.text-secondary {
  font-style: italic;
  font-weight: 700;
}

.blur {
  filter: blur(5px);
}


//HOME
#home {
  @include background;
  background-color: $primary-color;
  padding: 2em;
  // height: 100%;
  min-height: 100vh;
  text-align: right;
  overflow: hidden; //no scroll bars

  .lol {
    position: absolute;
    right: 5px;
    margin-top: 10vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;

    h1 {}

    .icons {

      a {
        text-decoration: none;
        font-size: .75em;
        padding: 0.4rem;
        margin-right: 0.5em;
        color: #1d1d1d;

        &:hover {
          @include easeOut();
        }

        &.c1:hover {
          color: $c1;
        }

        &.c2:hover {
          color: $c2;
        }

        &.c3:hover {
          color: $c3;
        }

        &.c4:hover {
          color: $c4;
        }

        &.c5:hover {
          color: $c5;
        }
      }
    }
  }
}

//ABOUT
#about {
  .about-info {
    display: grid;
    grid-template-areas:
      'bioimage'
      'bio'
      'skill1'
      'skill2'
      'skill3'
      'skill4'
      'skill5'
      'skill6';
    grid-template-columns: 1fr;

    .bio-image {
      grid-area: bioimage;
      margin: 1em auto;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      padding: .3em;
      border: solid 1px rgb(223, 223, 223);
    }

    .g-col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .bio {
      grid-area: bio;
    }

    .skill-1 {
      grid-area: skill1;

    }

    .skill-2 {
      grid-area: skill2;

    }

    .skill-3 {
      grid-area: skill3;

    }

    .skill-4 {
      grid-area: skill4;

    }

    .skill-5 {
      grid-area: skill5;

    }

    .skill-6 {
      grid-area: skill6;

    }

    .skill {
      background: lighten($primary-color, 5);
      padding: 0.5rem;
      h1, h2, h3 {
        border-bottom: set-text-color($primary-color) 2px solid;
      }
    }
  }
}

//PHOTOGRAPHY //DESIGN
#photography,
#design {


}



//WEB PROJECTS
#work {
  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      'skill1 '
      'skill2'
      'skill3'
      'skill4'
      'skill5'
      'skill6';
    grid-template-columns: 1fr;

    a {
      text-decoration: none;
      font-size: 1.5em;
      padding: 5px;
      margin-right: 0.5em;
      color: #1d1d1d;

      &:hover {
        color: $secondary-color;
      }
    }

    .skill-1 {
      grid-area: skill1;
    }

    .skill-2 {
      grid-area: skill2;
    }

    .skill-3 {
      grid-area: skill3;
    }

    .skill-4 {
      grid-area: skill4;
    }

    .skill-5 {
      grid-area: skill5;
    }

    .skill-6 {
      grid-area: skill6;
    }

    .skill {
      background: lighten($primary-color, 5);
      padding: 0.5rem;
      border-bottom: $secondary-color 5px solid;
    }
  }
}

//CONTACT
#contact {
  // min-height:90vh;
  form {
    width: 80%;
    margin:2.5em auto 0;
    input {
      width:100%;
      display: block;
      margin-bottom: 0.7em;
      padding: 1em;
    }

    textarea {
      width:100%;
      display: block;
      height: 10em;
      padding: 1em;
      margin-bottom: 0.7em;
    }

    button {
      cursor: pointer;
      font-size: .707em;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .1em;
      border: 1px solid #103742;
      background-color: #103742;
      color: #ffffff;
      padding: 0.832em 1.414em 0.707em;

      &:hover {
        border-color: $secondary-color;
        background-color: $secondary-color;
      }
    }
  }
}

//FOOTER
#main-footer {
  display:flex;
  align-items: center;
  justify-content:center;
  font-size:.7em;
  text-align: center;
  padding: 1em;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 10vh;
}


@import "mobile";
//placed in bottom to have media querries run after inital css