@import "config";
@import "menu";

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image, linear-gradient(#e4e4e4 0%, #dadada 50%, #ccd5d8 100%);
      background-attachment: fixed;
      background-size: contain;
      background-repeat: no-repeat;
      // background-color: #bcc3cb;
      .menu-btn {
        background: none;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: objektiv-mk1, sans-serif;
  // font-weight: 100;
  font-style: normal;
}

h1,
h2,
h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;

  &.lg-heading {
    font-size: 5rem;
    font-weight: 300;
    color: #1d1d1d;
  }

  &.sm-heading {
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;

    // background: rgba(lighten($primary-color, 2), 0.5);
    // filter: blur(0.9px);
  }
}

p {
  // font-family: mr-eaves-xl-modern-narrow, sans-serif;
  font-size: 1.2rem;
}

a {
  color: set-text-color($secondary-color);
  color: rgb(26, 158, 247);

}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  font-style: italic;
  font-weight: 700;
}

main {

  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {

    // margin-top: 1rem;
    a {
      text-decoration: none;
      font-size: 1.7em;
      padding: 0.4rem;
      margin-right: 0.5em;
      color: #1d1d1d;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    text-align: right;
    overflow: hidden; //no scroll bars

    h1 {
      margin-top: 20vh;
    }
  }
}

//ABOUT
#about {
  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      "bioimage bio bio"
      "skill1 skill2 skill3"
      "skill4 skill5 skill6";
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
      grid-area: bioimage;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      padding: 15px;
      border: solid 1px rgb(223, 223, 223);

    }

    .g-col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .bio {
      grid-area: bio;
      font-size: 2rem;
    }

    .skill-1 {
      grid-area: skill1;
    }

    .skill-2 {
      grid-area: skill2;
    }

    .skill-3 {
      grid-area: skill3;
    }

    .skill-4 {
      grid-area: skill4;
    }

    .skill-5 {
      grid-area: skill5;
    }

    .skill-6 {
      grid-area: skill6;
    }

    .skill {
      background: lighten($primary-color, 5);
      padding: 0.5rem;
      border-bottom: $secondary-color 5px solid;
    }
  }
}

//PHOTOGRAPHY
#photography {
  a {
    display: inline;
    font-size: 2em;

    &:hover {
      text-decoration: underline;
      color: rgb(35, 193, 241);
    }
  }
}

//DESIGN
#design {}

//WEB PROJECTS
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  .item-container {
    width: 100%;
    height: 300px;
    border: 3px white solid;
    // background-color: rgb(128, 128, 128);
  }

  img {
    width: 100%;
    border: 3px white solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//CONTACT
#contact {
  form {
    input {
      display: block;
      margin-bottom: 0.5em;
      padding: 1em;
      width: 450px;
    }

    textarea {
      display: block;
      width: 450px;
      height: 8em;
      padding: 1em;
      margin-bottom: 0.5em;
    }

    button {
      cursor: pointer;
      font-size: .707em;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .1em;
      border: 1px solid #103742;
      background-color: #103742;
      color: #ffffff;
      padding: 0.832em 1.414em 0.707em;

      &:hover {
        border-color: $secondary-color;
        background-color: $secondary-color;
      }
    }
  }
}

//FOOTER
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

//BUTTON STYLES
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

@import "mobile";
//placed in bottom to have media querries run after inital css